.madal-window{
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}


/* .active {

} */

.edit-order__wrapper {
  /* padding: 8px 16px; */
  padding-top: 8px;
  border-radius: 12px;
  background: var(--Main-White, #fff);
  display: grid;
  row-gap: 16px;
  margin: auto;
  width: 100%;
  max-width: 1137px;
}

.edit-order__top,
.edit-order__section {
  margin-right: 16px;
  margin-left: 16px;
}

.edit-order__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-order__top .h2 {
  display: flex;
  column-gap: 6px;
}

.edit-order__items {
  display: grid;
  gap: 16px;
}

.edit-order__section {
  display: grid;
  row-gap: 8px;
}

.active {
  display: flex;
}

.btn_close {
  display: none;
}



.btn-add-wrapp {
  display: flex;
  justify-content: flex-end;
}

.edit-order__close-btn {
  display: none;
}

.edit-order__btns {
  position: fixed;
  bottom: 45px;
  background: white;
  width: -webkit-fill-available;
  height: auto;
  box-shadow: 0px -3px 4px 0px #fff;

  display: grid;
  gap: 8px;

  padding: 0 16px;
}

.first {
  margin-top: 8px;
}

.last {
  margin-bottom: 24px;
}



@media (min-width: 600px) {
  .btn_close {
    display: flex;
  }
  .madal-window{
    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    min-height: 100%;
    /* overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0; */
  }

  .edit-order__wrapper {
    margin: 16px auto;
    padding: 16px;
    height: min-content;
  }

  .edit-order__section {
    row-gap: 16px;
  }

  .edit-order__close-btn {
    display: inherit;
  }
  .edit-order__btns {
    position: inherit;
    display: flex;
    justify-content: flex-end;
    width: initial;
    height: initial;
  }
  .first {
    margin-top: inherit;
  }

  .last {
    margin-bottom: inherit;
  }


}


