// * {
//   outline: 1px solid red !important;
// }

.f-6 {
  display: flex;
  gap: 6px;
}

.f-8 {
  display: flex;
  gap: 8px;
}

.page-wrapper {
  // background: var(--Light-colors-Light, #f6f9fa);
  // padding: 16px;
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column-reverse;

  position: relative;
  // min-height: 100%;
}

.orders-wrapper {
  width: -webkit-fill-available;
}

.nav-bar {
  background: var(--Main-White, #fff);
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--Gray-Light, #f3f4f6);

  bottom: 0;
  // width: 100%;
  position: fixed;
  width: -webkit-fill-available;
  // position: sticky;

  z-index: 1;

  &__item {
    height: 24px;
    padding: 10px 0;
  }
  &__item:nth-of-type(1) {
    order: 1;
  }
  .active {
    svg path {
      fill: var(--main-ym-green, #00df5f);
      stroke: #fff;
    }
  }
  &__title {
    display: none;
  }
}

.orders {
  margin: 16px 16px 0;
  display: grid;
  gap: 8px;
}

.order {
  background: var(--Main-White, #fff);
  border-radius: 12px;
  padding: 16px;
  display: grid;
  row-gap: 16px;

  &__top {
    align-items: center;
  }

  &__status {
    border-radius: 16px;
    background: rgba(86, 204, 242, 0.2);
    color: var(--Blue-1, #2f80ed);
    padding: 7px 16px;
  }
}

.grey-bg {
  background: var(--Light-colors-Light, #f6f9fa);
}

.order__table,
.order__name-client {
  display: flex;
}

.order__info,
.order__positions {
  gap: 8px;
}

.order__positions {
  display: flex;
  flex-wrap: wrap;
}

.order__position {
  border-radius: 16px;
  background: var(--Gray-Light, #f3f4f6);
  padding: 4px 12px;
}
